---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Form from "../components/Form.astro";
import MyStack from "../components/MyStack.astro";
import Projects from "../components/Projects.astro";
import Card from "../components/Card.astro";
---

<Layout title="Bogdan Bulakh">
  <Hero />
  <MyStack />
  <Projects />

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 px-[16px] mx-auto max-w-[1000px]"
  >
    <Card
      name="Maybell E-commerce"
      about="A collection of free E-commerce website page templates, built with the utility-first Tailwind CSS framework."
      picSrc="/images/main-page-screenshot.webp"
      picType="image/webp"
      imgSrc="/images/main-page-screenshot.jpg"
      imgAlt="Maybell Preview"
      projectHref="/maybell/"
      demoHref="https://tailwind-ecommerce-demo.vercel.app/index.html"
    />
    <Card
      name="Simple Blog"
      about="Blog, built with the utility-first Tailwind CSS framework."
      picSrc="/images/simple-blog-screenshot.webp"
      picType="image/webp"
      imgSrc="/images/simple-blog-screenshot.jpg"
      imgAlt="Simple Blog Preview"
      projectHref="/blog/"
      demoHref="https://tailwind-simple-blog-demo.vercel.app/"
    />
    <Card
      name="BlogHub"
      about="Free Blog Template, built with MasterCSS Framework"
      picSrc="/images/homepage-bloghub.webp"
      picType="image/webp"
      imgSrc="/images/homepage-bloghub.jpg"
      imgAlt="Bloghub Preview"
      projectHref="/bloghub/"
      demoHref="https://mastercss-blog-demo.vercel.app/"
    />
  </div>

  <section class="py-10 px-[16px] container mx-auto max-w-[1000px]">
    <h3 class="text-3xl font-bold mb-10">Work Experience</h3>

    <Experience
      company="Open Source"
      role="Frontend Developer"
      periodStart="01.11.2022"
      periodEnd="Now"
      companyLogo="/images/github-logo.svg"
    />
    <Experience
      company="Skyeng"
      role="Head of Educational content"
      periodStart="01.04.2022"
      periodEnd="15.07.2022"
      companyLogo="/images/skyeng-logo.svg"
    />
    <Experience
      company="Digital Jungle"
      role="Lead Project Manager"
      periodStart="01.06.2020"
      periodEnd="13.09.2023"
      companyLogo="/images/jungle-logo.svg"
    />

    <Experience
      company="Digital Banana"
      role="Project Manager"
      periodStart="01.05.2019"
      periodEnd="15.03.2022"
      companyLogo="/images/banana-logo.svg"
    />
  </section>

  <Form />
</Layout>
