---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Form from "../components/Form.astro";
import MyStack from "../components/MyStack.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Bogdan Bulakh">
  <Hero />
  <MyStack />
  <Projects />

  <section class="py-10 px-[16px] container mx-auto max-w-[1000px]">
    <h2 class="text-3xl font-bold mb-10">Work Experience</h2>

    <Experience
      company="Open Source"
      role="Frontend Developer"
      periodStart="01.11.2022"
      periodEnd="Now"
      companyLogo="src/images/github-logo.svg"
    />
    <Experience
      company="Skyeng"
      role="Head of Educational content"
      periodStart="01.04.2022"
      periodEnd="15.07.2022"
      companyLogo="src/images/skyeng-logo.svg"
    />
    <Experience
      company="Digital Jungle"
      role="Lead Project Manager"
      periodStart="01.06.2020"
      periodEnd="13.09.2023"
      companyLogo="src/images/jungle-logo.svg"
    />

    <Experience
      company="Digital Banana"
      role="Project Manager"
      periodStart="01.05.2019"
      periodEnd="15.03.2022"
      companyLogo="src/images/banana-logo.svg"
    />
  </section>

  <Form />
</Layout>
