---
interface Props {
    pageName : string;
}

const {pageName} = Astro.props
---


<nav class="mx-auto w-full mt-4 max-w-[1000px] pl-[16px]">
    <ul class="flex items-center">
      <li class="cursor-pointer flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1">
            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
          </svg>
          
          
        <a class="dark:text-white" href="/index.html">
          Home
        </a>
      </li>
      <li>
        <span class="mx-2 text-gray-500">&bullet;</span>
      </li>

      <li class="text-gray-500">{pageName}</li>
    </ul>
  </nav>
