<!-- footer  -->
<footer class="footer items-center justify-center p-4 bg-neutral text-neutral-content">
    <div class="items-center grid-flow-col">
        <p>Copyright © 2023 - Bogdan Bulakh</p>
    </div>
</footer>
<!-- /footer  -->