<section class="py-10 px-[16px] container mx-auto max-w-[1000px]">
  <h3 class="text-3xl font-bold mb-10">Contact me</h3>

  <form
    class="w-full flex gap-3 flex-col"
    autocomplete="on"
    action="https://formspree.io/f/xeqbaojp"
    method="POST"
  >
    <input
      class="border py-2 px-2"
      type="text"
      name="name"
      placeholder="Name"
    />
    <input
      class="border py-2 px-2"
      type="email"
      name="email"
      placeholder="Email"
    />
    <textarea
      class="border px-2 py-2"
      name="message"
      id="message"
      placeholder="Enter the message..."
      cols="30"
      rows="5"></textarea>
    <button class="btn btn-warning" type="submit">Send Message</button>
  </form>

  <div class="divider">OR CONNECT ME VIA</div>

  <div>
    <div class="flex gap-2 justify-center">
      <a rel="nofollow" href="https://github.com/bbulakh" target="_blank"
        ><img class="w-10" src="/images/github.svg" alt="Github logo" /></a
      >
      
      <a href="https://www.linkedin.com/in/bbulakh/"
        ><img class="w-10" src="/images/linkedin.svg" alt="" /></a
      >
      <a target="_blank" rel="nofollow" href="https://t.me/b_bulakh"
        ><img class="w-10" src="/images/telegram.svg" alt="" /></a
      >

      <a target="_blank" rel="nofollow" href="https://career.habr.com/bbulakh"
        ><img class="w-10" src="/images/habr.svg" alt="" /></a
      >
    </div>
  </div>
</section>
