


<div class="divider">OR CONNECT ME VIA</div>

    <div>
        <div class="flex gap-2 justify-center">
            <a href="https://github.com/bbulakh"><img src="src/images/github.svg" alt="Github logo"></a>
            <a href="#"><img src="src/images/facebook.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/bbulakh/"><img src="src/images/linkedin.svg" alt=""></a>
            <a href="https://t.me/b_bulakh"><img src="src/images/telegram.svg" alt=""></a>
        </div>

    </div>